*{
    box-sizing: border-box;
}
/*  
.header-text{
    padding-left: 40px;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
    font-weight: 100;
}
.text{
    font-size: 46px;
    font-family: 'Lato', sans-serif;
    color: #464a4e;
    font-weight: 300;
    padding-left: 40px;
}

.contact{
    font-size: 17px;
}

.header-text.surname{
    font-weight: bold;
    padding-left: 15px;
}

.text.vocation{
    font-size: 20px;
} 
*/
html{
    scroll-behavior: smooth;
}
.header{
    background-color: #f4f4f4;
    
    /* height: 100px;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px; */
    border: solid 1px black;
}

.image{
    margin-left: 20px;
    position:absolute;
    top: 115px;
    left: 600px;
}

body{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    /* font-weight: 800; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    border: solid 1px black;
    margin: 0;
    padding: 0;
}


.main{
    border: solid 1px black;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.section-list{
    list-style: circle;
}
#contacts .section-list{
    list-style: none;
}

.nav-link {
    text-decoration: none;
    padding: 0px 20px;
    line-height: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #464a4e;
    transition: color 0.5s;
}

.nav-link:hover{
    /* cursor: pointer; */
    color: #f15730;
}

.link{
    color: #464a4e;
    transition: color 0.5s;
}

.link:hover{
    /* cursor: pointer; */
    color: #f15730;
}
.section-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.subsection-title{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.section-item span{
    margin-left: 20px;
}
.section-item a{
    margin-left: 20px;
    color: #464a4e;
}
.main-container{
    display: flex;
    flex-wrap: wrap;
}
.section{
    width: 50%;
    padding: 15px;
}

@media (max-width: 768px) {
    .section{
        width: 100%;
    }
}

#profile.section{
    /* border: 1px solid black; */
    display: flex;
    width: 100%;
    height: 200px;
}

.footer .container{
    background-color:rgb(213, 243, 213);
    height: 100px;
}
